/venv
data.log
.vscode/settings.json
__pycache__/config.cpython-311.pyc
db.sqlite3
modules/__pycache__/db.cpython-311.pyc
views/__pycache__/insurance.cpython-311.pyc
modules/__pycache__/decorators.cpython-311.pyc
modules/__pycache__/source.cpython-311.pyc
db.sqlite3-shm
db.sqlite3-wal
models/__pycache__/product.cpython-311.pyc
