/venv
/api/venv
/api/data.log
.vscode/settings.json
__pycache__/config.cpython-311.pyc
/api/db.sqlite3
/api/modules/__pycache__/db.cpython-311.pyc
/api/views/__pycache__/insurance.cpython-311.pyc
/api/modules/__pycache__/decorators.cpython-311.pyc
/api/modules/__pycache__/source.cpython-311.pyc
/api/db.sqlite3-shm
/api/db.sqlite3-wal
/api/models/__pycache__/product.cpython-311.pyc
api/.vscode/settings.json
api/__pycache__/config.cpython-311.pyc
